<div class="row">
    <div class="col-md-12">
        <!-- add `multiple` attribute to allow multiple sections to open at once -->
        <h3>Edit Page Content</h3>
        <!-- Start edit text -->
        <form>
            <textarea ckeditor="vm.editorOptions" ng-model="vm.text.textBody" name="textBody"></textarea>
            <input type="submit" class="btn btn-success" ng-click="vm.saveText(vm.text)" value="Save" />
        </form>
        <!--/ End edit text -->
    </div>
</div>
<!-- /.row -->
