<!-- Start header left -->
<div class="header-left">
    <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
    <div class="navbar-minimize-mobile left">
        <i class="fa fa-bars"></i>
    </div>
    <!--/ End offcanvas left -->

    <!-- Start navbar header -->
    <div class="navbar-header">

        <!-- Start brand -->
        <a class="navbar-brand" data-ng-href="#/dashboard">
            <img class="logo" src="../img/logo.png" alt="ATM"/>
        </a><!-- /.navbar-brand -->
        <!--/ End brand -->

    </div><!-- /.navbar-header -->
    <!--/ End navbar header -->

    <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
<!--    <div class="navbar-minimize-mobile right">
        <i class="fa fa-cog"></i>
    </div>-->
    <!--/ End offcanvas right -->

    <div class="clearfix"></div>
</div><!-- /.header-left -->
<!--/ End header left -->

<!-- Start header right -->
<div data-sidebar-minimize class="header-right">
    <!-- Start navbar toolbar -->
    <div class="navbar navbar-toolbar">

        <!-- Start left navigation -->
        <ul class="nav navbar-nav navbar-left">

            <!-- Start sidebar shrink -->
            <li class="navbar-minimize">
                <a href="#" title="Minimize sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <!--/ End sidebar shrink -->

            <!-- Start form search -->
            <li class="navbar-search">
                <!-- Just view on mobile screen-->
                <a href="#" class="trigger-search"><i class="fa fa-search"></i></a>
<!--                <form class="navbar-form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control typeahead rounded" placeholder="Search for people, places and things">
                        <button type="submit" class="btn btn-theme fa fa-search form-control-feedback rounded"></button>
                    </div>
                </form>-->
            </li>
            <!--/ End form search -->

        </ul><!-- /.nav navbar-nav navbar-left -->
        <!--/ End left navigation -->

        <!-- Start right navigation -->
        <ul class="nav navbar-nav navbar-right"><!-- /.nav navbar-nav navbar-right -->

            <!-- Start messages -->
    <!--        <li class="dropdown navbar-message">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i><span class="count label label-danger rounded">7</span></a>

                &lt;!&ndash; Start dropdown menu &ndash;&gt;
                <div class="dropdown-menu animated flipInX">
                    <div class="dropdown-header">
                        <span class="title">Messages <strong>(7)</strong></span>
                        <span class="option text-right"><a href="#">+ New message</a></span>
                    </div>
                    <div class="dropdown-body">

                        &lt;!&ndash; Start message search &ndash;&gt;
                        <form class="form-horizontal" action="#">
                            <div class="form-group has-feedback has-feedback-sm m-5">
                                <input type="text" class="form-control input-sm" placeholder="Search message...">
                                <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                            </div>
                        </form>
                        &lt;!&ndash;/ End message search &ndash;&gt;

                        &lt;!&ndash; Start message list &ndash;&gt;
                        <div data-nicescroll class="media-list niceScroll">

                            <a data-ng-repeat="navbarMessage in navbarMessages" href="#" class="media">
                                <div class="pull-left"><img src="http://img.djavaui.com/?create=50x50,4888E1?f=ffffff" class="media-object img-circle" alt="{{navbarMessage.name}}"/></div>
                                <div class="media-body">
                                    <span class="media-heading">{{navbarMessage.name}}</span>
                                    <span class="media-text">{{navbarMessage.message}}</span>
                                    &lt;!&ndash; Start meta icon &ndash;&gt;
                                    <span data-ng-repeat="meta in navbarMessage.meta" data-ng-show="meta.share" class="media-meta"><i class="fa fa-reply"></i></span>
                                    <span data-ng-repeat="meta in navbarMessage.meta" data-ng-show="meta.attach" class="media-meta"><i class="fa fa-paperclip"></i></span>
                                    <span data-ng-repeat="meta in navbarMessage.meta" data-ng-show="meta.group" class="media-meta"><i class="fa fa-user"></i></span>
                                    <span class="media-meta pull-right">{{navbarMessage.date}}</span>
                                    &lt;!&ndash;/ End meta icon &ndash;&gt;
                                </div>&lt;!&ndash; /.media-body &ndash;&gt;
                            </a>&lt;!&ndash; /.media &ndash;&gt;

                            &lt;!&ndash; Start message indicator &ndash;&gt;
                            <a href="#" class="media indicator inline">
                                <span class="spinner">Load more messages...</span>
                            </a>
                            &lt;!&ndash;/ End message indicator &ndash;&gt;

                        </div>
                        &lt;!&ndash;/ End message list &ndash;&gt;

                    </div>
                    <div class="dropdown-footer">
                        <a href="page-messages.html">See All</a>
                    </div>
                </div>
                &lt;!&ndash;/ End dropdown menu &ndash;&gt;

            </li>&lt;!&ndash; /.dropdown navbar-message &ndash;&gt;-->
            <!--/ End messages -->

            <!-- Start notifications --><!--
            <li class="dropdown navbar-notification">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span class="count label label-danger rounded">6</span></a>

                &lt;!&ndash; Start dropdown menu &ndash;&gt;
                <div class="dropdown-menu animated flipInX">
                    <div class="dropdown-header">
                        <span class="title">Notifications <strong>(10)</strong></span>
                        <span class="option text-right"><a href="#"><i class="fa fa-cog"></i> Setting</a></span>
                    </div>
                    <div data-nicescroll class="dropdown-body niceScroll">

                        &lt;!&ndash; Start notification list &ndash;&gt;
                        <div class="media-list small">

                            <a data-ng-repeat="notification in navbarNotifications" href="#" class="media">
                                <div class="media-object pull-left">
                                    <i data-ng-show="notification.icon" class="{{notification.icon}}"></i>
                                    <img data-ng-show="notification.image" class="img-circle" src="http://img.djavaui.com/?create=30x30,4888E1?f=ffffff" alt="{{notification.image}}"/>
                                </div>
                                <div class="media-body">
                                    <span class="media-text">{{notification.notification}}</span>
                                    &lt;!&ndash; Start meta icon &ndash;&gt;
                                    <span class="media-meta">{{notification.date}}</span>
                                    &lt;!&ndash;/ End meta icon &ndash;&gt;
                                </div>&lt;!&ndash; /.media-body &ndash;&gt;
                            </a>&lt;!&ndash; /.media &ndash;&gt;

                            &lt;!&ndash; Start notification indicator &ndash;&gt;
                            <a href="#" class="media indicator inline">
                                <span class="spinner">Load more notifications...</span>
                            </a>
                            &lt;!&ndash;/ End notification indicator &ndash;&gt;

                        </div>
                        &lt;!&ndash;/ End notification list &ndash;&gt;

                    </div>
                    <div class="dropdown-footer">
                        <a href="#">See All</a>
                    </div>
                </div>
                &lt;!&ndash;/ End dropdown menu &ndash;&gt;

            </li>-->
            <!--/ End notifications -->

            <!-- Start profile -->
            <!--<li class="dropdown navbar-profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="meta"><span class="avatar"><img src="http://img.djavaui.com/?create=35x35,4888E1?f=ffffff" class="img-circle" alt="admin"></span><span class="text hidden-xs hidden-sm text-muted">Tol Lee</span><span class="caret"></span></span>
                </a>
                &lt;!&ndash; Start dropdown menu &ndash;&gt;
                <ul class="dropdown-menu animated flipInX">
                    <li class="dropdown-header">Account</li>
                    <li><a href="page-profile.html"><i class="fa fa-user"></i>View profile</a></li>
                    <li><a href="mail-inbox.html"><i class="fa fa-envelope-square"></i>Inbox <span class="label label-info pull-right">30</span></a></li>
                    <li><a href="#"><i class="fa fa-share-square"></i>Invite a friend</a></li>
                    <li class="dropdown-header">Product</li>
                    <li><a href="#"><i class="fa fa-upload"></i>Upload</a></li>
                    <li><a href="#"><i class="fa fa-dollar"></i>Earning</a></li>
                    <li><a href="#"><i class="fa fa-download"></i>Withdrawals</a></li>
                    <li class="divider"></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in"><i class="fa fa-sign-out"></i>Logout</a></li>
                </ul>
                &lt;!&ndash;/ End dropdown menu &ndash;&gt;
            </li>&lt;!&ndash; /.dropdown navbar-profile &ndash;&gt;-->


        </ul>
        <!--/ End right navigation -->

    </div><!-- /.navbar-toolbar -->
    <!--/ End navbar toolbar -->
</div><!-- /.header-right -->
<!--/ End header left -->
