  <div class="row">
    <div class="col-md-12">
        <!-- add `multiple` attribute to allow multiple sections to open at once -->
        <v-accordion class="vAccordion--default" oncollapse="vm.resetTableData(index)">

            <v-pane>
                <v-pane-header ng-click="vm.getTable('auThematicExposure', 'Concentrated', 3)">
                    Edit <b>AU Thematic Exposure</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/concentrated/html/auThematicExposureTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('nzThematicExposure', 'Concentrated', 3)">
                    Edit <b>NZ Thematic Exposure</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/concentrated/html/nzThematicExposureTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('auIndustryWeightings', 'Concentrated', 3)">
                    Edit <b>AU Industry Weightings</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/concentrated/html/auIndustryWeightingsTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('nzIndustryWeightings', 'Concentrated', 3)">
                    Edit <b>NZ Industry Weightings</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/concentrated/html/nzIndustryWeightingsTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>

            <v-pane>
                <v-pane-header ng-click="vm.getText('Concentrated')">
                    Edit Page Content
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit text -->
                    <form>
                        <p class="lead">Edit top-left content</p>
                        <textarea ckeditor="vm.editorOptions" ng-model="vm.text.topLeft" name="topLeft"></textarea>
                        <hr />
                        <p class="lead">Edit top-right content</p>
                        <textarea ckeditor="vm.editorOptions" ng-model="vm.text.topRight" name="topRight"></textarea>
                        <hr />
                        <p class="lead">Edit bottom content</p>
                        <textarea ckeditor="vm.editorOptions" ng-model="vm.text.body" name="body"></textarea>
                        <input type="submit" class="btn btn-success" ng-click="vm.saveText(vm.text)" value="Save" />
                    </form>
                    <!--/ End edit text -->
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>
<!-- /.row -->
