<div class="widget">
    <div class="title">
        <h4>{{vm.title}}</h4>
    </div>
    <form form-for="vm.formData" validation-rules="vm.validationRules.rules" submit-with="vm.submit(data)" validation-failed="vm.validationFailed()" submit-error="vm.submitFailed(error)" enctype="multipart/form-data">
        <text-field attribute="title" label="Title" autofocus placeholder="Title"></text-field>
        <checkbox-field label="Recent pick" attribute="pick"></checkbox-field>
        <checkbox-field label="Daily Newsletter" attribute="newsletter"></checkbox-field>
        <text-field attribute="ytd" label="YTD" placeholder="YTD"></text-field>
        <text-field attribute="stockLink" label="Link to stock" placeholder="Stock"></text-field>
        <text-field attribute="quote" label="Quote" placeholder="Quote"></text-field>
        <label>Body</label>
        <textarea ckeditor="vm.editorOptions" ng-model="vm.formData.body" name="body" required></textarea>
        <hr/>
        <submit-button button-class="btn btn-success pull-right" label="Save"></submit-button>
    </form>
</div>
