<div ng-init="vm.disableButton = false">
    <form name="myForm">
        <div>Crop Image and Upload</div>
        <button ngf-select ng-model="vm.picFile" accept="image/*">
            Select Picture</button>
        <div style="width: 800px; height: 800px" ngf-drop ng-model="vm.picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop result-image-size="800" image="vm.picFile  | ngfDataUrl" result-image="vm.croppedDataUrl" ng-init="vm.initialize()">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{vm.croppedDataUrl}}" />
        </div>
        <button ng-click="vm.upload(vm.croppedDataUrl)">Submit</button>
        <span class="progress" ng-show="vm.progress >= 0">
          <div style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'"></div>
        </span>
        <span ng-show="vm.result">Upload Successful</span>
        <span class="err" ng-show="vm.errorMsg">{{vm.errorMsg}}</span>
    </form>
</div>
