<div class="widget">
    <div class="title">
        <h4>{{vm.title}}</h4>
    </div>
    <form form-for="vm.formData" validation-rules="vm.validationRules.rules" submit-with="vm.submit(data)" validation-failed="vm.validationFailed()" submit-error="vm.submitFailed(error)">
        <text-field attribute="name" label="Name" autofocus placeholder="Name"></text-field>
        <text-field attribute="author" label="Author" placeholder="Author"></text-field>
        <text-field attribute="description" label="Description" multiline rows="4" placeholder="Description"></text-field>
        <checkbox-field label="ATM Top Trades" attribute="topTrades"></checkbox-field>
        <checkbox-field label="Latest ATM monthly newsletter" attribute="monthly"></checkbox-field>
        <checkbox-field label="ATM daily report archive" attribute="daily"></checkbox-field>
        <checkbox-field label="Technicals Corner" attribute="investor"></checkbox-field>
        <hr/>
        <checkbox-field label="Chart of the Week " attribute="featured"></checkbox-field>
        <hr/>
        <submit-button button-class="btn btn-success pull-right" label="Save"></submit-button>
    </form>
</div>
