<div class="row">
    <div class="col-md-12">
        <!-- add `multiple` attribute to allow multiple sections to open at once -->
        <v-accordion class="vAccordion--default" oncollapse="vm.resetTableData(index)">
            <v-pane>
                <v-pane-header ng-click="vm.getTable('topTenHoldings', 'NZPortfolio', 3)">
                    Edit <b>Top Ten Holdings</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/nzportfolio
/html/topTenHoldingsTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('sectorBreakdown', 'NZPortfolio', 3)">
                    Edit <b>Sector Breakdown</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/nzportfolio/html/sectorBreakdownTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('regionalBreakdown', 'NZPortfolio', 3)">
                    Edit <b>Regional Breakdown</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/nzportfolio/html/regionalBreakdownTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('lastRight', 'NZPortfolio', 2)">
                    Edit <b>Key Information</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/nzportfolio/html/lastRightTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getTable('newZelandPortfolioPerformance', 'NZPortfolio', 4)">
                    Edit <b>New Zealand  EquityPortfolio Prerformance</b> table
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit form -->
                    <div data-ng-include="'/app/admin/nzportfolio/html/newZelandPortfolioPerformanceTable.html'"></div>
                    <!--/ End edit form -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header>
                    Add Bottom Chart Data
                </v-pane-header>
                <v-pane-content>
                    <!-- Start upload file -->
                    <div data-ng-include="'/app/admin/nzportfolio/html/upload.html'"></div>
                    <!--/ End upload file -->
                </v-pane-content>
            </v-pane>
            <v-pane>
                <v-pane-header ng-click="vm.getText('NZPortfolio')">
                    Edit Page Content
                </v-pane-header>
                <v-pane-content>
                    <!-- Start edit text -->
                    <form>
                        <textarea ckeditor="vm.editorOptions" ng-model="vm.text.textBody" name="textBody"></textarea>
                        <input type="submit" class="btn btn-success" ng-click="vm.saveText(vm.text)" value="Save" />
                    </form>
                    <!--/ End edit text -->
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>
<!-- /.row -->
