<div class="row">
    <div class="col-md-12">
        <!-- Start datatable using ajax -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">{{vm.title}}<span class="label label-danger"></span></h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip class="btn btn-sm" ng-click="vm.getAll()" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Refresh"><i class="fa fa-refresh"></i></button>
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="pull-right"><a ui-sref="stocks.create" class="btn btn-primary" title="Create new user"><i class="fa fa-user"></i> Create new</a></div>
                <div class="clearfix"></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Start datatable -->
                <table tr-ng-grid="" items="vm.tableItems" page-items="10" fields="vm.fields" selection-mode="SingleRow" class="table table-striped table-primary table-admin-stock">
                    <thead>
                        <tr>
                            <th field-name="code" cell-width="7em" class="text-center border-right"></th>
                            <th field-name="name" cell-width="20em"></th>
                            <th field-name="sharePrice" cell-width="7em"></th>
                            <th field-name="price" cell-width="5em"></th>
                            <th field-name="dividend" cell-width="5em"></th>
                            <th field-name="lastYearReturn" cell-width="5em" class="text-center"></th>
                            <th field-name="marketCap" cell-width="5em" class="text-center"></th>
                            <th field-name="region" cell-width="5em" class="text-center"></th>
                            <th cell-width="10em">
                                <div class="tr-ng-title">Actions</div>
                            </th>
                        </tr>
                    </thead>
                    <!--tbody section is required-->
                    <tbody>
                        <tr>
                            <td>
                                <v-accordion class="stock-action-list">
                                    <v-pane>
                                        <v-pane-header>
                                            <div>
                                                <div>Edit <i class="fa fa-sort-desc"></i></div>
                                            </div>
                                        </v-pane-header>
                                        <v-pane-content>
                                            <ul class="">
                                                <li><a ui-sref="stocks.files({ id: gridItem.id })" class="btn btn-primary btn-xs" title="files for stock">Add Files</a></li>
                                                <li><a ui-sref="stocks.image({ id: gridItem.id })" class="btn btn-primary btn-xs" title="image for stock">Image</a></li>
                                                <li><a ui-sref="stocks.edit({ id: gridItem.id })" class="btn btn-primary btn-xs" title="Edit">View Page</a></li>
                                                <li><a href="javascript:void(0)" ng-click="vm.del(gridItem)" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Delete">Delete</a></li>
                                                <li><a href="" class="btn btn-xs" title="Copy Link" ngclipboard data-clipboard-text="/member/stock/{{gridItem.code}}">Copy Link</a></li>
                                            </ul>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/ End datatable -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!--/ End datatable using ajax -->
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.row -->
