<div class="widget">
    <div class="title">
        <h4>{{vm.title}}</h4>
    </div>
    <form form-for="vm.formData" validation-rules="vm.validationRules.rules" submit-with="vm.submit(data)" validation-failed="vm.validationFailed()" submit-error="vm.submitFailed(error)">
        <text-field attribute="firstName" label="First Name" autofocus placeholder="First Name"></text-field>
        <text-field attribute="lastName" label="Last Name" placeholder="Last Name"></text-field>
        <text-field attribute="email" label="Email" placeholder="Email"></text-field>
        <text-field attribute="dayTimePhone" label="Day time phone" placeholder="Day Time Phone"></text-field>
        <text-field attribute="mobilePhone" label="Mobile phone" placeholder="Mobile Phone"></text-field>
        <!-- <text-field attribute="postcode" label="Postcode" placeholder="Postcode"></text-field> -->
        <text-field attribute="comment" label="Comment" placeholder="Comment"></text-field>
        <!-- <select-field attribute="listenFrom" label="Listen from" options="vm.listenFromOptions"></select-field>
 -->
        <select-field attribute="status" label="User status" options="vm.statusOptions"></select-field>
        <br />
        <text-field attribute="ends" label="When subscription ends, format: day-month-year( example: 06-12-2018 )" placeholder="Subscription ends format: day-month-year"></text-field>
        <br/>
        <text-field attribute="password" placeholder="New password"></text-field>
        <hr/>
        <submit-button button-class="btn btn-success pull-right" label="Save"></submit-button>
    </form>
</div>
