@media screen and (min-width: 1900px){
    .section{
        max-width: 85%;
    }

    body, .row-inline > *[class*="col-"]{
        font-size: 16px;
    }

/*    .container_freetrial a.button.biggest{
        padding: 25px 100px;
    }*/

    .banner {
        height: auto;
        display: table;
    }

    .banner-section {
        display: table-cell;
        vertical-align: middle;
    }

    .banner h2.banner-title {
        margin-top: 0;
    }

}

@media screen and (max-width: 1400px) {
    .banner,
    .layerslider {
        background-position: 0 0;
    }
}

@media screen and (max-width: 1200px){
    .members_info_container .sidebar-td {
        position: absolute;
        left: 72px;
    }

    .members_info_container .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .members_info_container {
        margin-top: 3px;
    }


    .col-md-5.banner-column {
        display: none !important;
    }

    .banner-description {
        top: auto;
    }

    .h2.banner-title {
        font-size: 1.5em;
    }

    .members_info_main{
        margin-left: 0;
    }

    .option-one-monthly{
        margin-bottom: 30px;
    }

    .menu--item{
        margin-left: 10px;
        margin-right: 10px;
    }

    .toogle_container{
        display: block;
    }

    .chart_one{
        margin-left: -1%;
        height: 500px !important;
    }

    .box-view{
        height: 550px !important;
    }

    .members_info_container{
        padding-top: 0;
    }

    .menu-vertical, .vertical_nav{
        position: absolute;
        height: 761px;
        min-width: 330px;
        padding-top: 10px;
        padding-bottom: 10px;
        /*margin-top: 3px;*/
    }

    .profile-container .menu-vertical, .profile-container .vertical_nav, .profile-update-email-container .menu-vertical, .profile-update-email-container .vertical_nav{
        height: 290px;
    }

    .notes-page-container a.button.biggest{
        text-align: center;
    }

    .profile-container .profile, .profile-update-email-container .profile-update-email, .container-portfolio-thematics .portfolio-thematics{
        width: 100%;
        margin-top: 20px;
    }

    .container-portfolio-thematics{
        padding-top: 0;
    }

    .profile-container, .profile-update-email-container{
        padding-top: 0;
    }

    .research-report-show{
        padding-top: 0 !important;
    }

    .research-container-block{
        margin: 35px 0;
    }

    .research-container .box-view{
        margin-bottom: 0;
    }

    .what-sets-container .what-sets-column{
        margin-top: 35px;
    }

    .container-portfolio-thematics .menu-vertical, .container-portfolio-thematics .vertical_nav{
        height: 330px;
    }
}


@media screen and (max-width: 991px){
    .alternate-slider-bg *[class*=col-]:nth-child(n+3){
        margin-top: 30px;
    }

    .recent_posts_separate{
        display: block;
        width: 100%;
    }

    .container_form_login form{
        padding: 0;
        padding-top: 35px;
    }

    .member_home_table{
        margin-top: 25px;
    }


    .pre_header > .row-inline.align-bottom > *[class*="col-"] {
        vertical-align: top;
    }

    .testimonial-quote{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .portfolio-breakdown-table-container{
        margin-bottom: 35px;
    }

    .au-portfolio-right-column-container{
        padding-top: 0;
    }

    .research-report-right-column{
        margin-top: 35px;
    }

    .main-footer .align-center{
        text-align: left;
    }

    .investor-valuation-container .align-right{
        margin-top: 30px;
        float: right;
    }

    .notes-page-links-container{
        margin-top: 20px;
    }

    .notes-page-links{
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .notes-page-direct-email *[class*=col-]{
        text-align: center;
        width: 100%;
    }

    .notes-page-container .recent_posts_title{
        margin-left: 0;
    }

    .notes-page-container a.button.biggest{
        margin-right: 0;
    }

    .notes-page-direct-email{
        margin-top: 45px;
    }

    .products-container  .products-column.col-sm-6.col-sm-push-3{
        margin-top: 35px;
    }

    .container_form_login .alert-server{
        margin-left: 0;
        margin-right: 0;
    }

    .container_freetrial .row .col-sm-12.align-right{
        text-align: center;
    }

    .container_freetrial .row .col-sm-12.align-right a.button.biggest{
        margin-top: 30px;
    }

    .container_freetrial h2{
        text-align: center;
    }

    .portfolio-right-column-container{
        padding: 0;
    }

    .portfolio{
        padding-bottom: 20px;
    }

}



@media screen and (max-width: 900px){
    body .container_form_login_img img {
        height: auto;
    }

    a.button.biggest{
        padding-left: 45px;
        padding-right: 45px;
    }

    .profile-form .form_group *[class*=col-]{

    }

    main .banner{
        text-align: center;
    }

    main ul.banner-description{
        text-align: center;
        margin-right: 15px;
    }

    main .banner li{
        display: inline-block;
        text-align: center;
        float: none;
        margin-top: 10px;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 3px solid white;
    }

    main .banner li:first-child{
        margin-top: 0;
        padding-left: 15px;
        border-left: 3px solid white;
    }
}

@media screen and (min-width: 992px) {
    .banner .banner-column:first-child {
        margin-left: -30px;
    }
}


@media screen and (max-width: 767px){

    main .banner .banner-description{
        position: relative;
        margin-right: 0;
        top: 260px;

    }

    main .banner .banner-column{
        height: auto;
    }

    main .banner .button-container{
        position: relative;
        margin-bottom: 15px;
    }

    main .banner{
        padding: 43px 0;
    }


    .bg1b-img {
        left: 28%;
        top: 5.25%;
        width: 66%;
        height: 71%;
    }

    .container_freetrial{
        text-align: center;
    }

    a.button.biggest{
        margin-top: 30px;
    }

    .testimonial-quote{
        padding-top: 10px;
    }

    .container_services_list_left_image{
        margin-top: 0;
    }

    .recent_posts_title{
        text-align: center;
    }

    .container_recent_posts{
        margin-top: 30px;
    }

    .container_freetrial{
        padding: 30px 0;
    }

    .container_clients *[class*=col-sm]{
        text-align: center;
    }

    .nav_header{
        margin-bottom: 35px;
    }

    .nav_header li{
        display: block;
    }

    .nav_header li{
        cursor: pointer;
        padding: 10px 0;
        border-bottom: 1px solid #0182c4;
        margin-left: 0 !important;
    }

    .nav_header li:hover a{
        color: #008fd5;
    }

    .nav_header li:hover{
        padding-left: 10px;
    }

    .pre_header .pre_header_right_column{
        display: block;
        margin-top: 15px;
    }

    .header{
        text-align: center;
    }

    .alternate-slider-bg{
        margin-top: 0;
    }

    .main-footer h4{
        margin-bottom: 15px;
    }

    .main-footer *[class*=col-]{
        margin-top: 45px;
    }

    .main-footer *[class*=col-]:first-child{
        margin-top: 0px;
    }

    .products-container .products-column{
        margin-top: 35px;
    }

    .products-container *[class*=col-]:first-child.products-column{
        margin-top: 0px;
    }

    .what-sets-container-column *[class*=col-]:first-child .what-sets-column{
        margin-top: 0px;
    }

    .account-locked-description{
        margin-bottom: 10px;
    }

    .container-password-recovery *[class*=col-]:first-child{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .container_form_login .row-inline > *[class*="col-"]{
        display: block;
    }

    .container_form{
        padding: 45px 0 45px 0;
    }

    .members_info_left_column a{
        display: inline-block;
        float: right;
    }

    .members_info_right_column a{
        display: none;
    }

    .chart_one{
        height: 400px !important;
    }

    .box-view{
        height: 350px !important;
    }

    .disclaimer-text{
        padding: 20px;
        text-align: justify;
    }

    .disclaimer-form{
        padding: 0 20px;
    }

    .navbar-header{
        display: block;
    }

    .lower-footer > .section{
        padding-right: 15px;
    }

    .stock-specific .stock-specific-title{
        display: none;
    }

    .stock-specific .stock-specific-title-rubber{
        display: block;
    }

    .research-container{
        margin-top: 0;
    }

    .au-portfolio-title{
        margin-top: 25px;
    }

    .pros-atm{
        margin-bottom: 25px;
    }

    .payment-plans *[class*=col-]{
        margin-top: 30px;
    }

    .payment-plans *[class*=col-]:first-child{
        margin-top: 0px;
    }

    .investor-valuation{
        padding-left: 0;
    }

    .wrench{
        margin-bottom: 15px;
    }

    .products-row{
        margin-top: 35px;
    }

    .products-container .products-row:first-child{
        margin-top: 0px;
    }
    
    .payment-plans-container .col-lg-12.col-md-12.col-sm-12 *[class*=col-]{
        margin-top: 35px;
    }
    
    .payment-plans-container .col-lg-12.col-md-12.col-sm-12 *[class*=col-]:first-child{
        margin-top: 0px;
    }

    .testimonial{
        margin-top: 20px !important;
    }

    .container_recent_posts .testimonial:first-child{
        margin-top: 0px;
    }

    .main{
        margin-top: -32px;
    }

    .profile-form form .form_group .new-email{
        text-align: left;
    }

    .blockquote-container{
        padding-top: 30px;
    }

    .stock-list-container .stock .stock_thumbnail{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .stock-list-container .stock .stock-content{
        text-align: center;
        clear: both;
        margin-left: 0;
        padding-top: 10px;
    }

    .stock-list-container .stock-option-list li{
        border-right: solid 1px rgba(35,50,58,.61);
    }

    .stock-list-container .stock-option-list li:first-child{
        padding-left: 10px;
        border-left: solid 1px rgba(35,50,58,.61);
    }



     .blog_post .post_image .recent_post_meta{
        float: none;
    }

     .blog_post .post_image .recent_post_meta{
        float: none;
    }

     .blog_post .post_image .recent_post_meta .post_date{
        max-width: 100% !important;
        text-align: left;
    }

    .blog_post .post_content > h3{
        padding-left: 0;
    }

    .blog_post .post_content_text{
        padding-left: 0;
    }
    
}

@media screen and (min-width: 991px){
    .banner .banner-description{
        min-width: 665px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1201px){
    .banner-title{
        white-space: nowrap;
    }
    .banner .video-container{
        width: 440px;
        margin-top: -120px !important;
    }
}

@media screen and (max-width: 1190px) {
    .logo-small-text {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .container_clients *[class*=col-sm]{
        text-align: center;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .lower_header:hover{
        background-color: rgba(255, 255, 255, .87);
    }

}

@media screen and (max-width: 570px){
    form.verify-phone .button-form{
        padding: 12px;
        margin: 0 3px;
    }

}

@media screen and (max-width: 500px){
    main .banner .banner-description{
        left: 0;
        top: 180px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1199px){
    .main_section_image .col-lg-15:nth-child(5){
        display: none;
    }
}


@media screen and (max-width: 450px){

/*    main .banner{
        display: none;
    }*/

    .pre_header a[title="ATM"] > img{
        max-width: 230px;
    }

    .pre_header .pre_header_right_column{
        text-align: center;
        display: block;
    }

    .mobile-button-auth{
        display: block;
    }

    .pre_header_right_column .button-member-login{
        display: none;
    }

    .button-member-login-rubber{
        display: block !important;
    }

    .menu-vertical, .vertical_nav{
        width: 100%;
        margin-top: 1px;
    }

    .vertical_nav__opened{
        left: 0 !important;
    }

    .members_info_container > .row:first-child > .col-xs-3:first-child{
        width: 100%;
    }


    .pre_header a[title="ATM"] > img{
        max-width: 100%;
    }

    .pre_header a[title="ATM"], .pre_header .navbar-header{
        float: none;
        margin-left: 0;
    }

    .navbar-toggle{
        float: none;
        margin-right: 0;
    }

    .container_form_login form input[type="submit"], .container_form form input[type="button"]{
        width: auto;
    }

    .members_info label{
        display: none;
    }

    .members_info_right_column .members_info_search_box{
        display: block;
    }

    .members_info_search_box input{
        margin-left: 0;
        width: 100%;
    }

    .chart_one{
        height: 350px !important;
    }

    .box-view{
        height: 300px !important;
    }

    .wrench{
        display: none;
    }

    .investor-valuation-container{
        text-align: center;
    }

    .investor-valuation-container .align-right{
        float: none;
    }

    .container-account-locked{
        padding: 25px;
    }

    .layerslider{
        display: none;
    }

    .modal-content h3{
        padding-left: 45px;
        padding-right: 45px;
    }

    .modal-content{
        padding: 20px;
    }

    .modal-content .button-form{
        margin-top: 5px;
   }

    .disclaimer-form .checkbox-group.disclaimer-button{
        float: none !important;
        display: block;
        text-align: center;
    }

    .menu-vertical, .vertical_nav{
        min-width: 300px;
    }

    .layout-table h2{
        margin-top: -95px
    }

}